body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow-y: scroll;
}

menu {
    display: inline-flex;
    border-bottom: solid 1px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;   
    font-weight: 500;
}

footer {
    background-color: black;
    color: white;
    display: inline-flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;  
    text-decoration: none;
    font-size: 16.3px;
}
footer a {
    text-decoration: none;
    color: white;
    margin: 5px 45px 15px 30px;
}

main div {
    text-underline-position: under;
}


.a2 {
    text-align: center; 
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 30px 15px 30px;
    text-decoration: none;
    color: white;
}

.content_1 {
    background-color: rgba(250, 245, 241, 0.5);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.InformationBox1 {
    display: inline-flex;
    height: 100%;
    width: 100%;
    top: 30px;
    position: relative;
    border-top: solid;
    
}

.InformationBox {
    display: inline-block;
    border: solid rgb(0, 0, 0) 0px;
    margin-left: 25px;
    width: 220px;
    height: 200px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
}

.SlideShow {
    margin-top: -12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: changing 10s infinite;
}

.text {
    top: 30px;
    text-align: center;
    padding: 195px;
    
}

.SlideShow h1 {
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.5);

}

.text a {
    text-align: center;
    text-decoration: none;
    background-color: bisque;
    padding: 5px;
    border: solid 1px black;
    font-size: 18px;
}

.News {
    text-align: center;
    border-bottom: solid 2px black;
    top: 25px;
    position: relative;
    padding: 10px;
}

.BoxAllNews {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.BoxNews {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
}

.BoxNews1 {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    left: 440px;
}

.BoxNews2 {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    left: 880px;
}

.BoxNews3 {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    left: 1350px;
}

.BoxNews4 {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    left: 1800px;
}

.BoxNews5 {
    margin: 50px 50px;
    border: solid;
    width: 300px;
    height: 270px;
    padding: 15px;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    left: 2250px;
}


.bg4page {
    background-color: gray;
}

.content4page {
    text-align: center;
    width: 100%;
    height: 100%;
}

.content1page {
    font-size: 20px;
}

.page2img {
    width: 100%;
    height: 600px;
}

.video {
    text-align: center;
    
}

.page3text {
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 1.7;
    margin: 5px;
    overflow-x: hidden;
    margin: 5px 5px;
}


.a2:hover{
    transform: scale(0.98);
    color: blue;
}


.BoxNews:hover {
    background-image: url(Снимок.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}

.BoxNews1:hover {
    background-image: url(Снимок1.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}

.BoxNews2:hover {
    background-image: url(Снимок2.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}

.BoxNews3:hover {
    background-image: url(Снимок3.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}

.BoxNews4:hover {
    background-image: url(Снимок4.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}

.BoxNews5:hover {
    background-image: url(Снимок5.PNG);
    background-repeat: no-repeat;
    border: solid 3px black;
    color: white;
}









@keyframes changing {
    0% {
        background-image: url(bg1.jpg);
    }
    25% {
        background-image: url(bg2.jpg);
    }
    68% {
        background-image: url(bg3.jpg);
    }
}
